:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  --chat-width: 46rem;
  --display-logo: block;
  --padding-left-bubble-bot: 34px;

  &.empty {
    justify-content: center;
  }
}

:host(.small) {
  --display-logo: none;
  --padding-left-bubble-bot: 0;
}

.message-list-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding-left: 10px;

  &.empty {
    flex-grow: 0;
    height: 100px;

    .message-list-max-width {
      align-items: center;
    }
  }

  .message-list-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
}

.message-list-max-width {
  display: flex;
  width: var(--chat-width);
  max-width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px 1rem;
  box-sizing: border-box;
}
