<div class="message-list-container" [class.empty]="messages().length === 0">
  <div #chatWrapper class="message-list-wrapper" (scroll)="onScroll($event)">
    <div #chatList class="message-list-max-width">
      @for (message of messages(); track message.id) {
        @if (message.author === 'user') {
          <app-chat-bubble>{{ message.content }}</app-chat-bubble>
        } @else {
          <app-chat-bubble-bot [message]="message"></app-chat-bubble-bot>
        }
      } @empty {
        <h2>Comment puis-je vous aider ?</h2>
      }
    </div>
  </div>
</div>
<app-chat-input (sendMessage)="onSendMessage($event)"></app-chat-input>
