<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'side'" class="sidenav" opened disableClose>
    <app-sidenav (close)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content style="display: flex; flex-direction: column">
    <app-header (openSidenav)="sidenav.open()" [isSidenavOpen]="sidenav.opened" [class.shadow-header]="hasAppChatScrolled"></app-header>

    <app-resizable-drawer>
      <app-drawer [opened]="questionsSize() > 0" style="min-width: 250px">
        <app-question-list></app-question-list>
      </app-drawer>
      <app-drawer-content style="min-width: 450px">
        <app-chat (scroll)="onScrollAppChat($event)"></app-chat>
      </app-drawer-content>
    </app-resizable-drawer>
  </mat-sidenav-content>
</mat-sidenav-container>
